{% extends 'base.html' %} {% block content %}

<section
        class="banner"
        style="background-image: url(https://via.placeholder.com/1920x300)"
>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Balloons</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
        <h2>My Cart</h2>
    </div>
</section>

<section class="gap">
    <div class="container">
        <div class="row">
            <form class="woocommerce-cart-form">
                <div class="row">
                    <div class="col-lg-8">
                        <div style="overflow-x: auto; overflow-y: hidden">
                            <table class="shop_table table-responsive">
                                <thead>
                                <tr>
                                    <th class="product-name">Product Detail</th>
                                    <th class="product-price">Each Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total Price</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="product">
                                    <td class="product-name">
                                        <img alt="img" src="https://via.placeholder.com/70x70"/>
                                        <div>
                                            <span>Red Heart Balloon Decoration</span>
                                            <p>Size: 8x</p>
                                            <p>Color: Pink</p>
                                            <p>SKU: 25-0458</p>
                                        </div>
                                    </td>
                                    <td class="product-price">
                      <span class="woocommerce-Price-amount"
                      ><bdi
                      ><span class="woocommerce-Price-currencySymbol"
                      >$</span
                      >18.61</bdi
                      >
                      </span>
                                    </td>
                                    <td class="product-quantity">
                                        <input
                                                type="number"
                                                class="input-text"
                                                value="1"
                                                min="1"
                                        />
                                    </td>
                                    <td class="product-subtotal">
                      <span class="woocommerce-Price-amount"
                      ><bdia
                      ><span class="woocommerce-Price-currencySymbol"
                      >$</span
                      >18.61</bdia
                      >
                                    </td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
                                    </td>
                                </tr>
                                <tr class="product">
                                    <td class="product-name">
                                        <img alt="img" src="https://via.placeholder.com/70x70"/>
                                        <div>
                                            <span>Red Heart Balloon Decoration</span>
                                            <p>Size: 8x</p>
                                            <p>Color: Pink</p>
                                            <p>SKU: 25-0458</p>
                                        </div>
                                    </td>
                                    <td class="product-price">
                      <span class="woocommerce-Price-amount"
                      ><bdi
                      ><span class="woocommerce-Price-currencySymbol"
                      >$</span
                      >18.61</bdi
                      >
                      </span>
                                    </td>
                                    <td class="product-quantity">
                                        <input
                                                type="number"
                                                class="input-text"
                                                value="1"
                                                min="1"
                                        />
                                    </td>
                                    <td class="product-subtotal">
                      <span class="woocommerce-Price-amount"
                      ><bdi
                      ><span class="woocommerce-Price-currencySymbol"
                      >$</span
                      >18.61</bdi
                      ></span
                      >
                                    </td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
                                    </td>
                                </tr>
                                <tr class="product">
                                    <td class="product-name">
                                        <img alt="img" src="https://via.placeholder.com/70x70"/>
                                        <div>
                                            <span>Red Heart Balloon Decoration</span>
                                            <p>Size: 8x</p>
                                            <p>Color: Pink</p>
                                            <p>SKU: 25-0458</p>
                                        </div>
                                    </td>
                                    <td class="product-price">
                      <span class="woocommerce-Price-amount"
                      ><bdi
                      ><span class="woocommerce-Price-currencySymbol"
                      >$</span
                      >18.61</bdi
                      >
                      </span>
                                    </td>
                                    <td class="product-quantity">
                                        <input
                                                type="number"
                                                class="input-text"
                                                value="1"
                                                min="1"
                                        />
                                    </td>
                                    <td class="product-subtotal">
                      <span class="woocommerce-Price-amount"
                      ><bdi
                      ><span class="woocommerce-Price-currencySymbol"
                      >$</span
                      >18.61</bdi
                      ></span
                      >
                                    </td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <div
                                                class="d-flex align-items-center justify-content-between"
                                        >
                                            <h4>03 items</h4>
                                            <h5>$46.61</h5>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="coupon-area">
                            <h3>Apply Coupon</h3>
                            <div class="coupon">
                                <input
                                        type="text"
                                        name="coupon_code"
                                        class="input-text"
                                        placeholder="Coupon code"
                                />
                                <button type="submit" class="btn" name="apply_coupon">
                                    <span>Apply coupon</span>
                                </button>
                            </div>
                        </div>
                        <div class="cart_totals">
                            <h4>Payment Total</h4>
                            <table class="shop_table_responsive">
                                <tbody>
                                <tr class="cart-subtotal">
                                    <th>Subtotal:</th>
                                    <td>
                      <span class="woocommerce-Price-amount">
                        <bdi>
                          <span class="woocommerce-Price-currencySymbol">$</span
                          >250.00
                        </bdi>
                      </span>
                                    </td>
                                </tr>
                                <tr class="Shipping">
                                    <th>Shipping:</th>
                                    <td>
                      <span class="woocommerce-Price-amount amount">
                        free
                      </span>
                                    </td>
                                </tr>
                                <tr class="Total">
                                    <th>Total:</th>
                                    <td>
                      <span class="woocommerce-Price-amount">
                        <bdi> <span>$</span>250.00 </bdi>
                      </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="wc-proceed-to-checkout">
                                <a href="#" class="btn">
                                    <span> Proceed to checkout </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
