{% extends 'base.html' %} {% block content %}

<!--

-->

<section
        class="banner"
        style="background-image: url(https://via.placeholder.com/1920x300)"
>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Balloons</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
        <h2>My Cart</h2>
    </div>
</section>

<section class="gap">
    <div class="container">

        {% if not cart_items %}
        <h2 class="text-center mb-3">Your shopping cart is empty</h2>
        <div class="text-center">
            <a href="{% url 'cart' %}" class="btn btn-primary">Continue Shopping. </a>
        </div>
        {% else %}
        <div class="row">

            <form class="woocommerce-cart-form">
                <div class="row">
                    <div class="col-lg-8">
                        <div style="overflow-x: auto; overflow-y: hidden">
                            <table class="shop_table table-responsive">
                                <thead>
                                <tr>
                                    <th class="product-name">Product Detail</th>
                                    <th class="product-price">Each Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total Price</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cart_item in cart_items %}
                                <tr class="product">
                                    <td class="product-name">
                                        <img width="150px" alt="img" src="{{cart_item.product.images.url}}"/>
                                        <div>
                                            <span>{{cart_item.product.product_name}}</span>
                                            <p>Size: 8x</p>
                                            <p>Color: Pink</p>
                                            <p>SKU: 25-0458</p>
                                        </div>
                                    </td>

                                    <td class="product-price">
                      <span class="woocommerce-Price-amount"
                      ><bdi
                      ><span class="woocommerce-Price-currencySymbol"
                      >${{cart_item.product.price}}</span
                      ></bdi
                      >
                      </span>
                                    </td>

                                    <td class="product-quantity ">
                                        <div class="col">
                                            <div class="input-group input-spinner">
                                                <div class="input-group-append">
                                                    <a href="{% url 'add_cart' cart_item.id  %} " class="btn btn-light"
                                                       type="button"><i
                                                            class="fas fa-plus"></i></a>
                                                </div>
                                                <input type="text" class="form-control" value="{{cart_item.quantity}}">
                                                <div class="input-group-append">
                                                    <a href="{% url 'remove_cart' cart_item.product.id  %}"
                                                       class="btn btn-light" type="button"><i
                                                            class="fas fa-minus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="product-subtotal">
                      <span class="woocommerce-Price-amount"
                      ><bdi
                      ><span class="woocommerce-Price-currencySymbol"
                      >$</span
                      >{{cart_item.sub_total}}</bdi
                      ></span
                      >
                                    </td>

                                    <td class="product-remove">
                                        <a href="{% url 'remove_cart_item' cart_item.product.id %}"><i
                                                class="fa-regular fa-circle-xmark"> </i></a>
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <div
                                                class="d-flex align-items-center justify-content-between"
                                        >
                                            <h4>{{cart_items_count}} items in your cart.</h4>
                                            <h5>${{grand_total}}</h5>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="coupon-area">
                            <h3>Apply Coupon</h3>
                            <div class="coupon">
                                <input
                                        type="text"
                                        name="coupon_code"
                                        class="input-text"
                                        placeholder="Coupon code"
                                />
                                <button type="submit" class="btn" name="apply_coupon">
                                    <span>Apply coupon</span>
                                </button>
                            </div>
                        </div>
                        <div class="cart_totals">
                            <h4>Payment Total</h4>
                            <table class="shop_table_responsive">
                                <tbody>
                                <tr class="cart-subtotal">
                                    <th>Subtotal:</th>
                                    <td>
                      <span class="woocommerce-Price-amount">
                        <bdi>
                          <span class="woocommerce-Price-currencySymbol">$</span
                          >{{grand_total}}
                        </bdi>
                      </span>
                                    </td>
                                </tr>
                                <tr class="Shipping">
                                    <th>Shipping:</th>
                                    <td>
                      <span class="woocommerce-Price-amount amount">
                        free
                      </span>
                                    </td>
                                </tr>
                                <tr class="Total">
                                    <th>Total:</th>
                                    <td>
                      <span class="woocommerce-Price-amount">
                        <bdi> <span>$</span>{{grand_total}} </bdi>
                      </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="wc-proceed-to-checkout">
                                <a href="#" class="btn">
                                    <span> Proceed to checkout </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}
