{% extends 'base.html' %}

{% block content %}

{% load static %}

<section class="banner" style="background-image:url(https://via.placeholder.com/1920x300)">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
        <h2>Contact Us</h2>
    </div>
</section>
<section class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="box login">
                    <h3>Forget password</h3>
                    {% include 'includes/messages.html' %}
                    <br>
                    <br>

                    <form method="POST" action="{% url 'forget_password' %}">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Enter your email address">

                        <button type="submit" class="btn"><span>Submit</span></button>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}