{% extends 'base.html' %}

{% block content %}

{% load static %}


<section class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box login">
                    <h3>Reset Your Password account.</h3>
                    {% include 'includes/messages.html' %}
                    <br>
                    <br>

                    <form method="POST" action="{% url 'reset_password' %}">
                        {% csrf_token %}
                        <input type="email" name="password" placeholder="Enter Your password">
                        <input type="password" name="confirm_password" placeholder="confirm your Password">

                        <button type="submit" class="btn"><span>Login</span></button>


                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}