{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="banner pb-0" style="background-color: #f7f7f7 ;">
  <div class="container">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
		<a href="index.html">Home</a>
	  </li>
		<li class="breadcrumb-item">
		<a href="#">Category</a>
	  </li>
		<li class="breadcrumb-item active" aria-current="page">Birthday Ballloons</li>
	</ol>
  </div>
</div>
<section class="gap no-top" style="background-color: #f7f7f7 ;">
  <div class="container">
	<div class="row">
	  <div class="col-lg-6">
		<div class="pd-gallery">
		  <ul class="pd-imgs">
				<li class="li-pd-imgs nav-active">
					<a href="JavaScript:void(0)">
					  <img alt="ballon" src="{{recent_products.images.url}}">
					</a>

				</li>
				<li class="li-pd-imgs">
				  <a href="JavaScript:void(0)">
					<img alt="ballon" src="{{recent_products.images_1.url}}">
				  </a>
				</li>
				<li class="li-pd-imgs">
				  <a href="JavaScript:void(0)">
					<img alt="ballon" src="{{recent_products.images_2.url}}">
				  </a>

				</li>
			</ul>
			<div class="pd-main-img">
			  <img id="NZoomImg" alt="ballon" src="{{recent_products.images_3.url}}" >

			</div>
		</div>
	  </div>
	  <div class="col-lg-6">
		<div class="product-info">
		  <div class="d-flex align-items-center"><p>Save 16%</p><h5>SKU 25-0458</h5></div>
		  <h2>{{recent_products.product_name}}</h2>

		  <div class="star">
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<i class="fa-solid fa-star"></i>
			<span>( 12 Reviews )</span>
		  </div>

		  <div class="price">
			<div>
			  <div class="d-flex"><h3>${{recent_products.price}}</h3></div>
			  <span class="dots">In stock, {{recent_products.amount}} units</span>
			  <div class="quantity">
				<h6>colors:</h6>
				<ul class="color">
				  <li class="purple"></li>
				  <li class="blue"></li>
				  <li class="orange"></li>
				</ul>
			  </div>
			  <div class="quantity">
				<h6>Quantity:</h6>
				<input type="number" class="input-text" step="1" min="1" name="quantity" value="1">
			  </div>
			  <div class="add-to-cart">
				<a href="#" class="btn"><span>Add to Cart</span></a>
				<a href="#" class="heart-wishlist">
				  <i class="fa-regular fa-heart"></i>
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="col-lg-6">
		<div class="payment-methods">
		  <h5>PAYMENT METHODS:</h5>
		  <a href="#">
			<img alt="card" src="{% static 'assets/img/card.png' %}">
		  </a>
		  <p>Your payment information is processed securely. We do not store credit card details nor have access to your credit card information.</p>
		</div>
	  </div>
	  <div class="col-lg-6">
		<div class="payment-methods">
		  <ul class="product_meta">
				<li><span class="theme-bg-clr">Category:</span>
				  <ul class="pd-cat">
					<li><a href="#">featured products</a>,
					  <a href="#">balloon</a>,
						<a href="#">new products</a></li>
				  </ul>
				</li>
		  </ul>
		  <ul class="social-media ">
			<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
			<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
			<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
		  </ul>
		</div>
	  </div>
	</div>
  </div>
</section>
<section class="gap">
  <div class="container">
	<div class="comment mt-0">
	  <h3>Description</h3>
	  <div class="boder"></div>
	  <p>{{recent_products.description}}</p>
	  <div class="party-balloons">
		<ul>
		  <li><img alt="chak" src="{% static 'assets/img/chak.png' %}">Wide Selection Of Foil Balloons</li>
		  <li><img alt="chak" src="{% static 'assets/img/chak.png' %}">Latex Balloons For Valentine's Day</li>
		  <li><img alt="chak" src="{% static 'assets/img/chak.png' %}">Best Options In Balloons Themes</li>
		  <li><img alt="chak" src="{% static 'assets/img/chak.png' %}">completely elegant & classy for your loved one.</li>
		</ul>
		</div>
	</div>
	<div class="comment mt-0">
	  <h3>Additional Information</h3>
	  <div class="boder"></div>
	  <ul class="specification">
		<li><h6>Size</h6>W 8" x L 21</li>
		<li><h6>Pack Balloon</h6>15 Balloon in one pack</li>
		<li><h6>Colors</h6>Multiple Colors</li>
	  </ul>
	</div>
	<div class="row">
	  <div class="col-lg-7">
		<div class="comment">
		  <h3>Reviews</h3>
		  <div class="boder"></div>
		</div>
		<ul class="reviews">
		  <li>
			<div>
			<img alt="img" src="https://via.placeholder.com/100x100">
			  <div class="star">
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
			  </div>
			</div>
			<div>
			  <div class="d-flex align-items-center">
				<h4>Smith Johnson</h4>
				<span>January 7, 2023</span>
			  </div>
			  <p>Integer sollicitudin ligula non enim sodales non lacinia commodo tempor mod licitudin. Integer sollicitudin ligula non enim sodales non lacinia.</p>
			</div>
		  </li>
		  <li>
			<div>
			<img alt="img" src="https://via.placeholder.com/100x100">
			  <div class="star">
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
			  </div>
			</div>
			<div>
			  <div class="d-flex align-items-center">
				<h4>Wilimes Marko</h4>
				<span>January 7, 2023</span>
			  </div>
			  <p>Integer sollicitudin ligula non enim sodales non lacinia commodo tempor mod licitudin. Integer sollicitudin ligula non enim sodales non lacinia.</p>
			</div>
		  </li>
		  <li>
			<div>
			<img alt="img" src="https://via.placeholder.com/100x100">
			  <div class="star">
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
				<i class="fa-solid fa-star"></i>
			  </div>
			</div>
			<div>
			  <div class="d-flex align-items-center">
				<h4>Thomas Nomia</h4>
				<span>January 7, 2023</span>
			  </div>
			  <p>Integer sollicitudin ligula non enim sodales non lacinia commodo tempor mod licitudin. Integer sollicitudin ligula non enim sodales non lacinia.</p>
			</div>
		  </li>
		</ul>
		<ul id="border-pagination" class="two">
			<li class="ps-0"><a href="javascript:void(0)"><i class="fa-solid fa-angle-left"></i></a></li>
			<li><a href="javascript:void(0)" class="active">01</a></li>
			<li><a href="javascript:void(0)">02</a></li>
			<li>....</li>
			<li><a href="javascript:void(0)">08</a></li>
			<li><a href="javascript:void(0)"><i class="fa-solid fa-angle-right"></i></a></li>
		  </ul>
	  </div>
	  <div class="col-lg-5">
		<form class="add-review comment leave-comment">
		  <div class="rating">
			<h3>Add Review</h3>
			<div class="boder"></div>
			<div class="d-flex align-items-center mb-4">
			<span>Select Rating:</span>
			  <div class="start d-flex align-items-center ps-md-4">
				<i class="fa-regular fa-star"></i>
				<i class="fa-regular fa-star"></i>
				<i class="fa-regular fa-star"></i>
				<i class="fa-regular fa-star"></i>
				<i class="fa-regular fa-star"></i>
			  </div>
			</div>
		  </div>
			  <input type="text" name="name" placeholder="Complate Name">
			  <input type="text" name="Email" placeholder="Email Address">
			<textarea placeholder="Add Review"></textarea>
			  <button class="btn">
				<span>Add Review</span>
			  </button>
		</form>
	  </div>
	</div>
  </div>
</section>
<section class="gap no-top">
  <div class="container">
	<div class="comment mt-0">
	  <h3>You May Also Like</h3>
			<div class="boder"></div>
	</div>
	<div class="product-slider two owl-carousel owl-theme">
	  <div class="item">
		<div class="product-style">
		  <img alt="img" src="https://via.placeholder.com/195x210">
		  <a href="#">
			<h5>Love Script Silver Baloon</h5>
		  </a>
			<h6>$28.61</h6>
			<span>In stock, 21 units</span>
			<div class="add-to-cart">
			  <a href="#" class="btn"><span>Add to Cart</span></a>
			  <a href="#" class="heart-wishlist">
				<i class="fa-regular fa-heart"></i>
			  </a>
			</div>
		</div>
	  </div>
	  <div class="item">
		<div class="product-style">
		  <img alt="img" src="https://via.placeholder.com/195x210">
		  <h4>Save 16%</h4>
		  <a href="#">
			<h5>Birthday Party Balloon Decoration</h5>
		  </a>
			<div class="d-flex"><h6>$16.69</h6><del>20.20</del></div>
			<span>In stock, 21 units</span>
			<div class="add-to-cart">
			  <a href="#" class="btn"><span>Add to Cart</span></a>
			  <a href="#" class="heart-wishlist">
				<i class="fa-regular fa-heart"></i>
			  </a>
			</div>
		</div>
	  </div>
	  <div class="item">
		<div class="product-style">
		  <img alt="img" src="https://via.placeholder.com/195x210">
		  <a href="#">
			<h5>Party Love Box Balloon</h5>
		  </a>
			<h6>$28.61</h6>
			<span>In stock, 21 units</span>
			<div class="add-to-cart">
			  <a href="#" class="btn"><span>Add to Cart</span></a>
			  <a href="#" class="heart-wishlist">
				<i class="fa-regular fa-heart"></i>
			  </a>
			</div>
		</div>
	  </div>
	  <div class="item">
		<div class="product-style">
		  <img alt="img" src="https://via.placeholder.com/195x210">
		  <h4>Save 16%</h4>
		  <a href="#">
			<h5>Red Heart Balloon Decoration</h5>
		  </a>
			<div class="d-flex"><h6>$16.69</h6><del>20.20</del></div>
			<span>In stock, 21 units</span>
			<div class="add-to-cart">
			  <a href="#" class="btn"><span>Add to Cart</span></a>
			  <a href="#" class="heart-wishlist">
				<i class="fa-regular fa-heart"></i>
			  </a>
			</div>
		</div>
	  </div>
	  <div class="item">
		<div class="product-style">
		  <img alt="img" src="https://via.placeholder.com/195x210">
		  <a href="#">
			<h5>Mattalic Latex Balloons</h5>
		  </a>
			<h6>$28.61</h6>
			<span>In stock, 21 units</span>
			<div class="add-to-cart">
			  <a href="#" class="btn"><span>Add to Cart</span></a>
			  <a href="#" class="heart-wishlist">
				<i class="fa-regular fa-heart"></i>
			  </a>
			</div>
		</div>
	  </div>
	  <div class="item">
		<div class="product-style">
		  <img alt="img" src="https://via.placeholder.com/195x210">
		  <a href="#">
			<h5>Party Love Box Balloon</h5>
		  </a>
			<h6>$28.61</h6>
			<span>In stock, 21 units</span>
			<div class="add-to-cart">
			  <a href="#" class="btn"><span>Add to Cart</span></a>
			  <a href="#" class="heart-wishlist">
				<i class="fa-regular fa-heart"></i>
			  </a>
			</div>
		</div>
	  </div>
	</div>
  </div>
</section>

{% endblock %}