{% load static %}
<footer class="two gap" style="background-image:url(https://via.placeholder.com/1920x842)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-two-contact">
                            <h6 class="mt-0">Phone No</h6>
                            <div class="footer-two-i">
                                <i>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
                                         style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <path d="M437.15,74.817C388.895,26.571,324.561,0,256,0C187.587,0,123.279,26.65,74.92,75.041
                          C26.559,123.435-0.048,187.766,0,256.184c0.048,68.507,27.005,132.938,75.905,181.425C124.335,485.629,188.219,512,255.997,512
                          c0.677,0,1.357-0.002,2.035-0.008c44.288-0.345,87.858-12.192,126.001-34.262l-15.024-25.967
                          c-33.653,19.472-72.109,29.925-111.21,30.23c-60.48,0.456-117.575-22.858-160.77-65.688C53.847,373.49,30.043,316.616,30,256.163
                          C29.958,195.762,53.447,138.97,96.141,96.247C138.832,53.527,195.605,30,256,30c124.595,0,225.979,101.365,226,225.959
                          c0.008,49.387-15.621,96.298-45.198,135.661c-2.573,3.424-6.37,5.478-10.692,5.784c-4.368,0.308-8.658-1.291-11.756-4.388
                          l-20.406-20.406l9.06-9.06l-70.711-70.711l-28.284,28.284c-58.885-7.935-105.202-54.252-113.137-113.137l28.284-28.284
                          l-70.711-70.711l-39.054,39.054c-3.826,66.249,19.552,133.776,70.167,184.391s118.142,73.993,184.391,70.167l8.782-8.781
                          l20.406,20.406c9.247,9.247,22.033,14.022,35.082,13.1c12.935-0.913,24.803-7.36,32.563-17.688
                          C494.3,365.039,512.01,311.895,512,255.954C511.988,187.393,485.406,123.064,437.15,74.817z"></path>
                        </g>
                </svg>
                                </i>
                                <a href="callto:+971234568789">+971 234568789</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-two-contact">
                            <h6>Visit us!</h6>
                            <div class="footer-two-i">
                                <i>
                                    <svg
                                            version="1.1"
                                            id="svg2319"
                                            xml:space="preserve"
                                            width="682.66669"
                                            height="682.66669"
                                            viewBox="0 0 682.66669 682.66669"
                                            xmlns="http://www.w3.org/2000/svg"><clipPath
                 clipPathUnits="userSpaceOnUse"
                 id="clipPath2333"><path
                   d="M 0,512 H 512 V 0 H 0 Z"
                   id="path2331" /></clipPath>
                                        <g
                                                id="g2325"
                                                transform="matrix(1.3333333,0,0,-1.3333333,0,682.66667)"><g
                 id="g2327"><g
                   id="g2329"
                   clip-path="url(#clipPath2333)"><g
                     id="g2335"
                     transform="translate(256,92)"><path
                       d="m 0,0 c -126.964,143.662 -160,165.23 -160,240 0,88.366 71.634,160 160,160 88.365,0 160,-71.634 160,-160 C 160,165.854 130.212,147.337 0,0 Z"
                       style="fill:none;stroke:#672b83;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                       id="path2337" /></g><g
                                                id="g2339"
                                                transform="translate(316,372)"><path
                       d="m 0,0 -80,-80 -40,40"
                       style="fill:none;stroke:#672b83;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                       id="path2341" /></g><g
                                                id="g2343"
                                                transform="translate(176,20)"><path
                       d="M 0,0 H 160"
                       style="fill:none;stroke:#672b83;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                       id="path2345" /></g></g></g></g>
                  </svg>
                                </i>
                                <div>
                                    <p>547 S Mason Road, New town Street 2548 United State</p>
                                    <a href="#">Get Directions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-two-contact">
                            <h6>Business hours:</h6>
                            <div class="footer-two-i">
                                <i>
                                    <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         viewBox="0 0 512 512" xml:space="preserve">
                        <path d="M437.019,74.981C388.668,26.629,324.38,0,256,0S123.332,26.629,74.981,74.981C26.629,123.332,0,187.62,0,256
                          s26.629,132.668,74.981,181.019C123.332,485.371,187.62,512,256,512c64.518,0,126.15-24.077,173.541-67.796l-10.312-11.178
                          c-44.574,41.12-102.544,63.766-163.229,63.766c-64.317,0-124.786-25.046-170.266-70.527
                          C40.254,380.786,15.208,320.317,15.208,256S40.254,131.214,85.734,85.735C131.214,40.254,191.683,15.208,256,15.208
                          s124.786,25.046,170.266,70.527c45.48,45.479,70.526,105.948,70.526,170.265c0,60.594-22.587,118.498-63.599,163.045
                          l11.188,10.301C487.986,381.983,512,320.421,512,256C512,187.62,485.371,123.332,437.019,74.981z"/>
                                        <path d="M282.819,263.604h63.415v-15.208h-63.415c-1.619-5.701-5.007-10.662-9.536-14.25l35.913-86.701l-14.049-5.82
                          l-35.908,86.688c-1.064-0.124-2.142-0.194-3.238-0.194c-15.374,0-27.881,12.508-27.881,27.881s12.507,27.881,27.881,27.881
                          C268.737,283.881,279.499,275.292,282.819,263.604z M243.327,256c0-6.989,5.685-12.673,12.673-12.673
                          c6.989,0,12.673,5.685,12.673,12.673c0,6.989-5.685,12.673-12.673,12.673C249.011,268.673,243.327,262.989,243.327,256z"/>
                                        <path d="M451.168,256c0-107.616-87.552-195.168-195.168-195.168S60.832,148.384,60.832,256S148.384,451.168,256,451.168
                          S451.168,363.616,451.168,256z M76.04,256c0-99.231,80.73-179.96,179.96-179.96S435.96,156.769,435.96,256
                          S355.231,435.96,256,435.96S76.04,355.231,76.04,256z"/>
                                        <rect x="248.396" y="366.511" width="15.208" height="56.776"/>
                                        <path d="M61.672,336.501l-14.05,5.82c23.059,55.668,66.416,99.026,122.085,122.085l5.82-14.049
                          C123.61,428.851,83.176,388.416,61.672,336.501z"/>
                                        <path d="M450.397,175.485l14.049-5.82c-23.059-55.669-66.417-99.027-122.085-122.084l-5.82,14.049
                          C388.457,83.135,428.891,123.569,450.397,175.485z"/>
                                        <path d="M256,45.624V30.416c-60.256,0-116.904,23.465-159.512,66.071C53.881,139.095,30.416,195.744,30.416,256h15.208
                          c0-56.194,21.883-109.024,61.617-148.759C146.976,67.507,199.807,45.624,256,45.624z"/>
                                        <path d="M481.584,256h-15.208c0,56.193-21.883,109.024-61.617,148.759c-39.734,39.735-92.566,61.617-148.759,61.617v15.208
                          c60.256,0,116.904-23.465,159.513-66.071C458.119,372.904,481.584,316.256,481.584,256z"/>
                                        <rect x="248.396" y="88.713" width="15.208" height="56.776"/>

                                        <rect x="183.845" y="106.019"
                                              transform="matrix(0.3827 0.9239 -0.9239 0.3827 226.5988 -111.8865)"
                                              width="26.361" height="15.208"/>

                                        <rect x="301.78" y="390.75"
                                              transform="matrix(-0.3827 -0.9239 0.9239 -0.3827 67.4626 841.7849)"
                                              width="26.361" height="15.207"/>

                                        <rect x="100.445" y="189.43"
                                              transform="matrix(0.9239 0.3827 -0.3827 0.9239 84.0528 -28.4842)"
                                              width="26.36" height="15.207"/>

                                        <rect x="385.201" y="307.351"
                                              transform="matrix(-0.9239 -0.3827 0.3827 -0.9239 645.9084 758.3894)"
                                              width="26.361" height="15.207"/>

                                        <rect x="106.028" y="301.792"
                                              transform="matrix(-0.3827 -0.9239 0.9239 -0.3827 -133.8779 540.4901)"
                                              width="15.207" height="26.36"/>

                                        <rect x="390.765" y="183.851"
                                              transform="matrix(0.3827 0.9239 -0.9239 0.3827 427.9489 -246.4146)"
                                              width="15.207" height="26.361"/>

                                        <rect x="189.433" y="385.188"
                                              transform="matrix(-0.9239 -0.3827 0.3827 -0.9239 226.6226 841.8156)"
                                              width="15.208" height="26.361"/>

                                        <rect x="307.381" y="100.448"
                                              transform="matrix(0.9239 0.3827 -0.3827 0.9239 67.4614 -111.8911)"
                                              width="15.207" height="26.361"/>

                                        <rect x="129.389" y="150.181"
                                              transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 157.7713 380.9216)"
                                              width="56.776" height="15.208"/>

                                        <rect x="325.825" y="346.62"
                                              transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 354.2049 855.1643)"
                                              width="56.776" height="15.208"/>
                                        <rect x="88.713" y="248.396" width="56.776" height="15.208"/>
                                        <rect x="366.511" y="248.396" width="56.776" height="15.208"/>

                                        <rect x="150.157" y="325.829"
                                              transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 18.8444 716.2403)"
                                              width="15.208" height="56.776"/>

                                        <rect x="346.602" y="129.395"
                                              transform="matrix(0.7071 0.7071 -0.7071 0.7071 215.3148 -204.2485)"
                                              width="15.208" height="56.776"/>
                  </svg>
                                </i>
                                <div>
                                    <h5>Monday to Friday</h5>
                                    <p>10:00 am. to 6:30 pm. Saturday 10:00 am. to 5:00 pm.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="account">
                    <h5>Subscribe Newsletter</h5>
                    <p>Join our subscribers list to receive email notices of new deals</p>
                    <form>
                        <input type="text" name="email" placeholder="Enter Your Email">
                        <button><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                </div>
                <ul class="social-media">
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="links-footer row">
            <div class="col-lg-3 col-md-6">
                <div class="account">
                    <h5>Balloon Types</h5>
                    <ul>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Party Balloons</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Number balloons</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Latex Balloons</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Bargain Balloons</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="account">
                    <h5>Shop Supplies</h5>
                    <ul>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Ribbon & Weights</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Pennants & Ropes</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Drop & Release Kits</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Regulators</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="account">
                    <h5>Shop Info</h5>
                    <ul>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">The Balloons Direct Advantage</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Success Stories</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Event Professionals</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="account">
                    <h5>My Account</h5>
                    <ul>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">Cart</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">My Addresses</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="#">My Orders</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div>
                <a href="#">
                    <img alt="card" src="{% static 'assets/img/card.png' %}">
                </a>
                <p><span>© 2023 Balloo</span> | Online Balloon Store.</p>
            </div>
        </div>
    </div>
</footer>
<!-- progress -->
<div id="progress">
    <span id="progress-value"><i class="fa-solid fa-arrow-up"></i></span>
</div>