{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Errors: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}


{% if messages %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} show-notifications" role="alert">

    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}

</div>
{% endfor %}

{% endif %}