{% load static %}
<span class="loader"></span>
<header>
    <div class="container">
        <div class="top-bar">
            <p>Free Shipping on $149 or more. $9.50 Flat Rate up to $149. <span>exclusions apply</span></p>
            <div class="ordering">
                <a href="#">Ordering</a>
                <div class="line"></div>
                <a href="#">Shipping</a>
                <div class="line"></div>
                <a href="#">Returns</a>
            </div>
        </div>
        <div class="center-ber">
            <div class="logo">
                <a href="index.html">
                    <img alt="logo" src="{% static 'assets/img/logo.png' %}">
                </a>
            </div>
            <form>
                <input type="text" name="Search" placeholder="Search Our Bloon Selection">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="login-bar d-flex">
                <div>
                    <a class="d-flex" href="{% url 'login' %}">Log In
                        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.364 11.636C14.3837 10.6558 13.217 9.93013 11.9439 9.49085C13.3074 8.55179 14.2031 6.9802 14.2031 5.20312C14.2031 2.33413 11.869 0 9 0C6.131 0 3.79688 2.33413 3.79688 5.20312C3.79688 6.9802 4.69262 8.55179 6.05609 9.49085C4.78308 9.93013 3.61631 10.6558 2.63605 11.636C0.936176 13.3359 0 15.596 0 18H1.40625C1.40625 13.8128 4.81279 10.4062 9 10.4062C13.1872 10.4062 16.5938 13.8128 16.5938 18H18C18 15.596 17.0638 13.3359 15.364 11.636ZM9 9C6.90641 9 5.20312 7.29675 5.20312 5.20312C5.20312 3.1095 6.90641 1.40625 9 1.40625C11.0936 1.40625 12.7969 3.1095 12.7969 5.20312C12.7969 7.29675 11.0936 9 9 9Z"
                                  fill="#fff"></path>
                        </svg>
                    </a>
                </div>
                <div class="donation">

                    <a href="JavaScript:void(0)" class="pr-cart">
                        Cart
                        <svg enable-background="new 0 0 512 512" viewBox="0 0 512 512"
                             xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path>
                            </g>
                        </svg>


                    </a>

                    <div class="cart-popup">

                        <ul>

                            <li class="d-flex align-items-center position-relative">

                                <div class="p-img light-bg">

                                    <img alt="img" src="https://via.placeholder.com/75x75">

                                </div>

                                <div class="p-data">

                                    <h3 class="font-semi-bold">Pastoral Principles Cards</h3>

                                    <p class="theme-clr font-semi-bold">1 x $25.00</p>

                                </div>

                                <a href="JavaScript:void(0)" id="crosss"></a>

                            </li>

                            <li class="d-flex align-items-center position-relative">

                                <div class="p-img light-bg">

                                    <img alt="img" src="https://via.placeholder.com/75x75">

                                </div>

                                <div class="p-data">

                                    <h3 class="font-semi-bold">Pastoral Principles Cards</h3>

                                    <p class="theme-clr font-semi-bold">1 x $25.00</p>

                                </div>

                                <a href="JavaScript:void(0)" id="cross"></a>

                            </li>

                        </ul>

                        <div class="cart-total d-flex align-items-center justify-content-between">

                            <span class="font-semi-bold">Total:</span>

                            <span class="font-semi-bold">$60.00</span>

                        </div>

                        <div class="cart-btns d-flex align-items-center justify-content-between">

                            <a class="font-bold" href="JavaScript:void">View Cart</a>

                            <a class="font-bold theme-bg-clr text-white checkout" href="JavaScript:void">Checkout</a>

                        </div>

                    </div>

                </div>
            </div>
            <div class="bar-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>

    <div class="nav-bar">
        <div class="container">
            <nav class="navbar">
                <ul class="navbar-links">
                    <li class="navbar-dropdown menu-item-children">
                        <a href="javascript:void(0)"><i>
                            <img alt="home" src="{% static 'assets/img/home.png' %}">
                        </i>home</a>
                        <div class="dropdown">
                            <a href="index.html">home 1</a>
                            <a href="index-2.html">home 2</a>
                        </div>
                    </li>
                    <li class="navbar-dropdown menu-item-children">
                        <a href="javascript:void(0)">Balloons</a>
                        <div class="dropdown">
                            <a href="product-list.html">product list</a>
                            <a href="product-details.html">product details</a>
                            <a href="shop-cart.html">shop cart</a>
                            <a href="cart-checkout.html">cart checkout</a>
                        </div>
                    </li>
                    <li class="navbar-dropdown menu-item-children">
                        <a href="javascript:void(0)">occasion</a>
                        <div class="dropdown">
                            <a href="occasion-decoration.html">occasion decoration</a>
                            <a href="occasion-details.html">occasion details</a>
                        </div>
                    </li>
                    <li class="navbar-dropdown">
                        <a href="packages.html">Seasonal & Holidays</a>
                    </li>
                    <li class="navbar-dropdown menu-item-children">
                        <a href="javascript:void(0)">pages</a>
                        <div class="dropdown">
                            <a href="about.html">about</a>
                            <a href="login.html">login</a>
                            <a href="404-error.html">404</a>
                        </div>
                    </li>
                    <li class="navbar-dropdown menu-item-children">
                        <a href="javascript:void(0)">News</a>
                        <div class="dropdown">
                            <a href="our-blog.html">our blog</a>
                            <a href="blog-details.html">blog details</a>
                        </div>
                    </li>
                    <li class="navbar-dropdown">
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
                <a class="phone" href="callto:+12344502086"><i>
                    <svg height="112" viewBox="0 0 24 24" width="112" xmlns="http://www.w3.org/2000/svg">
                        <g clip-rule="evenodd" fill="rgb(255255,255)" fill-rule="evenodd">
                            <path d="m7 2.75c-.41421 0-.75.33579-.75.75v17c0 .4142.33579.75.75.75h10c.4142 0 .75-.3358.75-.75v-17c0-.41421-.3358-.75-.75-.75zm-2.25.75c0-1.24264 1.00736-2.25 2.25-2.25h10c1.2426 0 2.25 1.00736 2.25 2.25v17c0 1.2426-1.0074 2.25-2.25 2.25h-10c-1.24264 0-2.25-1.0074-2.25-2.25z"></path>
                            <path d="m10.25 5c0-.41421.3358-.75.75-.75h2c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-2c-.4142 0-.75-.33579-.75-.75z"></path>
                            <path d="m9.25 19c0-.4142.33579-.75.75-.75h4c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-4c-.41421 0-.75-.3358-.75-.75z"></path>
                        </g>
                    </svg>
                </i> +1234 450 2086</a>
            </nav>
        </div>
    </div>
    <div class="mobile-nav hmburger-menu" id="mobile-nav" style="display:block;">
        <div class="res-log">
            <a href="index.html">
                <img src="assets/img/logo-b.png" alt="Responsive Logo">
            </a>
        </div>
        <ul>

            <li class="menu-item-has-children"><a href="JavaScript:void(0)">Home</a>
                <ul class="sub-menu">

                    <li><a href="index.html">home 1</a></li>
                    <li><a href="index-2.html">home 2</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">Balloons</a>
                <ul class="sub-menu">
                    <li><a href="product-list.html">product list</a></li>
                    <li><a href="product-details.html">product details</a></li>
                    <li><a href="shop-cart.html">shop cart</a></li>
                    <li><a href="cart-checkout.html">cart checkout</a></li>
                </ul>
            </li>


            <li class="menu-item-has-children"><a href="JavaScript:void(0)">occasion</a>

                <ul class="sub-menu">

                    <li><a href="occasion-decoration.html">occasion decoration</a></li>
                    <li><a href="occasion-details.html">occasion details</a></li>

                </ul>

            </li>
            <li><a href="packages.html">Seasonal & Holidays</a></li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">News</a>

                <ul class="sub-menu">
                    <li><a href="our-blog.html">our blog</a></li>
                    <li><a href="blog-details.html">blog details</a></li>

                </ul>

            </li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">pages</a>

                <ul class="sub-menu">

                    <li><a href="about.html">about</a></li>
                    <li><a href="login.html">login</a></li>
                    <li><a href="404-error.html">404</a></li>
                </ul>

            </li>

            <li><a href="contact.html">contacts</a></li>

        </ul>

        <a href="JavaScript:void(0)" id="res-cross"></a>
    </div>
</header>