{% extends 'base.html' %}

{% block content %}
<section class="error-section" style="background-image:url(https://via.placeholder.com/1920x640)">
   <div class="container">
     <div class="row">
       <div class="error">
         <h2>4<span>0</span>4</h2>
         <h3>Page Not Found</h3>
         <p>We Can't Seem to find the page you're looking for.</p>
         <form>
         <input type="text" name="email" placeholder="Enter your email address...">
         <button type="submit" class="error-button"><i class="fa-solid fa-magnifying-glass"></i></button>
       </form>
       <a class="btn two"><span>Back To Home</span></a>
       </div>
     </div>
   </div>
 </section>
 

{% endblock %}