{% extends 'base.html' %}

{% block content %}
<section class="banner" style="background-image:url(https://via.placeholder.com/1920x300)">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">news</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">blog details</li>
      </ol>
      <h2>Blog Details</h2>
    </div>
  </section>

  <section class="gap our-blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <div class="blog-post">
            <figure>
              <img alt="blog-img" src="{{blog_details.images.url}}">
            </figure>
            <div class="d-flex align-items-center">
              <h6>{{blog_details.created_at}}</h6>
              <div class="line"></div>
              <span>No Comment</span>
            </div>
              <h3>{{blog_details.name}}</h3>
              <p>{{blog_details.description}}</p>
            <div class="holidays-text ps-0">
              <ul>
                <li>
                  <div class="bol"></div>Far curiosity incommode now led smallness allowance.</li>
                <li>
                  <div class="bol"></div>Favour bed assure son things yet.
                </li>
                <li>
                  <div class="bol"></div>She consisted consulted elsewhere happiness
                </li>
                <li>
                  <div class="bol"></div>Disposing household any old the.
                </li>
                <li>
                  <div class="bol"></div>Widow downs you new shade drift hopes small.
                </li>
                <li>
                  <div class="bol"></div>Interested discretion estimating on stimulated.
                </li>
              </ul>
            </div>
            <div class="quote-box">
              <h4>“ We help our clients from the definition of their strategy to  realization of their digital ecosystem. At the heart of our approach is the constant search for the juncture between aesthetic. ”</h4>
              <h5>Willimes Domson</h5>
              <span>Product Management</span>
            </div>
            <p>boris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            <div class="row ">
              <div class="col-md-6">
                <p class="pe-md-4">Lorem ipsum dolor sit amet, consectetur adipi
                    scing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua. Ut enim ad mini 
                    veniam, quis nostrud exercitation ullamco labo
                    ris nisi ut aliquip ex ea commodo consequat. 
                    <br><br>  
                    Duis aute irure dolor in reprehenderit in vo
                    luptate velit esse cillum dolore eu fugiat nu
                    lla pariatur. Excepteur sint occaecat cupi
                    datat non proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum Lorem ip 
                    dolor sit amet, cons elit,
                </p>
              </div>
              <div class="col-md-6">
                <img alt="blog-img" class="blog-img-size" src="{{blog_details.images.url}}">
              </div>
            </div>
          </div>

          <div class="blog-img-video video">
                <img alt="video-img" src="https://via.placeholder.com/850x440">
                <a data-fancybox="" href="https://www.youtube.com/watch?v=1La4QzGeaaQ"><i>
                  <svg width="15" height="22" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 8.5L0.5 0.272758L0.5 16.7272L11 8.5Z" fill="#fff"></path>
                  </svg>
                  </i>
                </a>
          </div>
          <p>boris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br><br>Lorem ipsum dolor sit amet, consectetur a dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  </p>
          <div class="share-post">
            <h5>Share Post:</h5>
            <ul class="social-media ">
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </div>
          <div class="about-the-theodore">
                <img alt="img" src="https://via.placeholder.com/160x160">
                <div class="ms-md-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <h3>Willimes Marko</h3>
                    <ul class="social-media ">
                      <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                  </div>
                  <p>Integer sollicitudin ligula non enim sodales Sewid commodo tempor are risus ineuismod varius nullam Sed condimentum est libero</p>
                </div>
          </div>
          <div class="comment">
                <h3>Comments</h3>
                <div class="boder"></div>
                <ul>
                    
                  <li class="single-comment">
                    <img alt="img" src="https://via.placeholder.com/160x160">
                    <a href="#">reply</a>
                    <div class="ps-md-4">
                      <div class="d-flex align-items-center">
                        <h4>Willimes Marko</h4>
                        <span>January 7, 2023 </span>
                        </div>
                        <p>Integer sollicitudin ligula non enim sodales, non lacinia Sewid commodo are risus in euismod varius nullam feugiat ultrices.</p>
                    </div>
                  </li>

                </ul>
          </div>
          <form class="add-review leave-comment comment" action="{% url 'add_comment' blog_details.id  %}">
                      <div class="rating">
                        <h3>Leave a Comment</h3>
                        <div class="boder"></div>
                      </div>
                      <div class="row">
                        {{forms}}
                          <button class="btn">
                            <span>post Comment</span>
                          </button>
                      </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="posts">
              <h3>Recent Posts</h3>
              <div class="boder"></div>
              <ul class="recent-posts">
                <li>
                  <img alt="img" src="https://via.placeholder.com/90x80">
                  <div>
                    <a href="#"><span>13</span> Mar, 2023</a>
                    <h6><a href="#">Fall in love with medium Microfoil shapes!</a></h6>
                  </div>
                </li>
                <li>
                  <img alt="img" src="https://via.placeholder.com/90x80">
                  <div>
                    <a href="#"><span>13</span> Mar, 2023</a>
                    <h6><a href="#">Lovely Balloons and Party Needs Catering</a></h6>
                  </div>
                </li>
                <li>
                  <img alt="img" src="https://via.placeholder.com/90x80">
                  <div>
                    <a href="#"><span>13</span> Mar, 2023</a>
                    <h6><a href="#">Fall in love with medium Microfoil shapes!</a></h6>
                  </div>
                </li>
              </ul>
            </div>
            <div class="posts">
                 <h3>Categories</h3>
                 <div class="boder"></div>
                 <ul class="categories">
                   <li class="pt-0">
                       <a href="#">Party Decoration<span>12</span></a>
                    </li>
                    <li>
                       <a href="#">Inspiration<span>13</span></a>
                    </li>
                    <li>
                       <a href="#">Lifestyle<span>19</span></a>
                    </li>
                    <li>
                       <a href="#">Balloons <span>22</span></a>
                    </li>
                    <li>
                       <a href="#">Fall Balloons <span>11</span></a>
                    </li>
                    <li class="pb-0">
                       <a href="#">Accessories <span>08</span></a>
                    </li>
                 </ul>
            </div>
            <div class="posts photo">
              <h3>Instagram Photos</h3>
              <div class="boder"></div>
              <ul class="instagram-posts">
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
              </ul>
              <a href="#">Follow @winsfolio</a>
            </div>
            <div class="posts">
                 <h3>Quick Links</h3>
                 <div class="boder"></div>
                 <ul class="links">
                   <li class="pt-0">
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Party Balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Number balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Latex Balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Bargain Balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Foil & Decorative Balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Latex Balloon Color Charts</a>
                    </li>
                    <li class="pb-0">
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Framing & Backdrop Equipment</a>
                    </li>
                 </ul>
            </div>
            <div class="posts">
                 <h3>Meta Links</h3>
                 <div class="boder"></div>
                 <ul class="links">
                   <li class="pt-0">
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Log in</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Entries feed</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Comments feed</a>
                    </li>
                    <li class="pb-0">
                       <a href="#"><i class="fa-solid fa-angle-right"></i>WordPress.org</a>
                    </li>
                 </ul>
            </div>
            <div class="posts subscribe">
              <h3>Subscribe Newsletter</h3>
              <div class="boder"></div>
              <p>Enter your email and get recent news and update.</p>
            <form class="blog">
                <input type="text" name="email" placeholder="Enter your email....">
                <button class="btn two"><span>subscribe</span></button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}