{% extends 'base.html' %}

{% block content %}
<section class="banner" style="background-image:url(https://via.placeholder.com/1920x300)">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">news</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">our blog</li>
      </ol>
      <h2>our blog</h2>
    </div>
  </section>
  <section class="gap our-blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            {% for blog in blogs %}
            <div class="blog-post">
                <figure>
                <img alt="blog-img" src="{{blog.images.url}}">
                </figure>
                <div class="d-flex align-items-center">
                <h6>{{blog.created_at}}</h6>
                <div class="line"></div>
                <span>No Comment</span>
                </div>
                <a href="{% url 'blog_details' blog.id %}">
                    <h3>{{blog.name}}</h3>
                </a>
                <p>{{blog.description}}</p>
                <a href="{% url 'blog_details' blog.id %}">
                    <i class="fa-solid fa-plus"></i>
                    <h6>Read More</h6>
                </a>
            </div>
         {% endfor %} 

            <ul id="border-pagination">
              <li class="ps-0"><a href="javascript:void(0)"><i class="fa-solid fa-angle-left"></i></a></li>
              <li><a href="javascript:void(0)" class="active">01</a></li>
              <li><a href="javascript:void(0)">02</a></li>
              <li>....</li>
              <li><a href="javascript:void(0)">08</a></li>
              <li><a href="javascript:void(0)"><i class="fa-solid fa-angle-right"></i></a></li>
            </ul>
        </div>

        <div class="col-lg-4">
          <div class="sidebar">
            <div class="posts">
              <h3>Recent Posts</h3>
              <div class="boder"></div>
              <ul class="recent-posts">
                <li>
                  <img alt="img" src="https://via.placeholder.com/90x80">
                  <div>
                    <a href="#"><span>13</span> Mar, 2023</a>
                    <h6><a href="#">Fall in love with medium Microfoil shapes!</a></h6>
                  </div>
                </li>
                
              </ul>
            </div>
            <div class="posts">
                 <h3>Categories</h3>
                 <div class="boder"></div>
                 <ul class="categories">
                   <li class="pt-0">
                       <a href="#">Party Decoration<span>12</span></a>
                    </li>

                    <li>
                       <a href="#">Inspiration<span>13</span></a>
                    </li>
                    <li>
                       <a href="#">Lifestyle<span>19</span></a>
                    </li>
                    <li>
                       <a href="#">Balloons <span>22</span></a>
                    </li>
                    <li>
                       <a href="#">Fall Balloons <span>11</span></a>
                    </li>
                    <li class="pb-0">
                       <a href="#">Accessories <span>08</span></a>
                    </li>
                 </ul>
            </div>
            <div class="posts photo">
              <h3>Instagram Photos</h3>
              <div class="boder"></div>
              <ul class="instagram-posts">
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
                <li>
                  <a href="https://via.placeholder.com/102x102" data-fancybox="gallery"><figure><img alt="girl" src="https://via.placeholder.com/102x102"></figure></a>
                </li>
              </ul>
              <a href="#">Follow @winsfolio</a>
            </div>
            <div class="posts">
                 <h3>Quick Links</h3>
                 <div class="boder"></div>
                 <ul class="links">
                   <li class="pt-0">
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Party Balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Number balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Latex Balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Bargain Balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Foil & Decorative Balloons</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Latex Balloon Color Charts</a>
                    </li>
                    <li class="pb-0">
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Framing & Backdrop Equipment</a>
                    </li>
                 </ul>
            </div>
            <div class="posts">
                 <h3>Meta Links</h3>
                 <div class="boder"></div>
                 <ul class="links">
                   <li class="pt-0">
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Log in</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Entries feed</a>
                    </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i>Comments feed</a>
                    </li>
                    <li class="pb-0">
                       <a href="#"><i class="fa-solid fa-angle-right"></i>WordPress.org</a>
                    </li>
                 </ul>
            </div>
            
            <div class="posts subscribe">
              <h3>Subscribe Newsletter</h3>
              <div class="boder"></div>
              <p>Enter your email and get recent news and update.</p>
            <form class="blog">
                <input type="text" name="email" placeholder="Enter your email....">
                <button class="btn two"><span>subscribe</span></button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
{% endblock content %}
